:root {
    --pa-gallery-border: #f65810;
    --pa-label-bg: #fddecf;
}

.power-app-control[power-app-type="gallery"] {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 1px solid var(--pa-gallery-border);
    background: #fff;
}

.power-app-gallery-header {
    background: var(--pa-label-bg);
    padding: 5px;
    border-bottom: 1px solid var(--pa-gallery-border);
}

.power-app-gallery-items {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
    overflow-y: auto;
    max-height: 500px;
}

.power-app-gallery-row {
    position: relative;
    width: 100%;
    min-height: 100px;
    border: 1px solid var(--pa-label-bg);
}

.power-app-gallery-row:hover {
    border-color: var(--pa-gallery-border);
}

@media screen and (min-width: 900px) {
    .power-app-gallery-item {
        flex: 1 1 calc(50% - 10px);
    }
}
